*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.box{
    display: flex;
    justify-content :space-evenly;
    align-items: center;
    padding: 20px;
    background-color: lightgray;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 30px;

}
button{
    padding: 15px;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
    border-radius: 5px;
    background-color: royalblue;
    
}