*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
   
   
}
.card{
   
    width: 200px;
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
   
  
    
}
.card div{
    position: relative;
    overflow: hidden;
}

.card img{

   width: 100%;
   height: 180px;
   object-fit: cover;
   margin-bottom: 10px;
   border-radius: 10px;
   cursor: pointer;

      
}

.card h2{
   font-size: 20px;
   text-align: center;
     cursor: pointer;
    
}
.card i{
       position: absolute;
       top: 50%;
       left: 50%;
       background-color: red;
       color: white;
       font-size: 50px;
      opacity: 0;
      background-size: cover;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;

      transform: translate(-50%, -50%) scale(0) rotate(-60deg);
      transition:all cubic-bezier(.65,1,.77,1.44) 0.4s;
}
