*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
body,html{

    height: 100%;
    width: 100%;
}

button{
    margin: 20px;
    border-radius: 50px;
    background-color: blueviolet;
    padding: 10px;

}