*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
body,html{
    background-color: black;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;


}
button{
    height:50px;
    width: 200px;
    background-color: red;
    color: white;
    position: relative;
    margin: 300px;
    padding: 10px;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.15s ease;
   

}
button:active{
    transform: scale(0.95);
    
}
h1{
    font-size: small;
}

