*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
   box-sizing: border-box;
   background-color: black;
   color: white;
}
main{
    height:100%;
    width: 100%;
   
}
.elem{
    height: 120px;
    width: 100%;
    background-color:teal ;
    border: 2px solid white;
    padding: 20px;
    /* font-size: 30px; */
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    /* position: relative; */
    

}
.elem h1{
    font-size: 6vw;
    z-index: 8;
    mix-blend-mode: difference;
    position: relative;
}
.elem img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    opacity: 0;
    transition: all linear 0.3s;
    pointer-events: none;
   

}