*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
   box-sizing: border-box;
   background-color: rgb(46, 187, 234);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.card{
     height: 550px;
     width: 350px;
     background-color: aliceblue;
     border-radius: 15px;
     border: 3px solid black;
     position: relative ;
     overflow: hidden;
     
     
    }
    .stories{
        height: 120px;
        width: 100%;
        /* background-color: red; */
        /* display: flex;
        align-items: center;
        justify-content: center; */
        padding: 20px;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        
    }

    .stories::-webkit-scrollbar{
        display: none;
    }

    .story{
        
        display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 3px solid red;
    overflow: hidden;
   }

img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}
.fullscreen{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: absolute ;
    display: none;
    background-size: cover;
    background-position: center;
    /* border: 3px solid black; */
    
}
