*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
body{

  /* filter: brightness(1.1) contrast(1.1); */


background-image: url();

    background-size: cover;  
 }
:root{
   --x: 400px;
   --y: 400px;
}

.box1{
    height: 100%;
    width: 100%;
   background: radial-gradient(
  150px at var(--x) var(--y),
  rgba(255,255,255,0.9),
  rgba(26, 25, 25, 0.95)
);


}