*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
}

.para{
  color: rgb(40, 234, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 40px;

}